<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">sounthCross</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#nav-link-to 'app.inspection-apply'}}检查申请{{/nav-link-to}}
        {{#nav-link-to 'app.patients'}}患者管理{{/nav-link-to}}
        {{#nav-link-to 'app.diagnosis'}}采集中心{{/nav-link-to}}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">基础数据<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{#nav-link-to 'app.dictionaries'}}数据字典{{/nav-link-to}}
            {{#nav-link-to 'app.hospitals'}}医院信息{{/nav-link-to}}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
