<div class="container well">
  <form class="form-horizontal">
    <fieldset>
      <legend>编辑医院信息</legend>
      {{#form-field field=model.code}}编号{{/form-field}}
      {{#form-field field=model.hspname}}名称{{/form-field}}
      <div class="form-group">
        <label class="col-lg-2 control-label">备注</label>
        <div class="col-lg-10">
          {{textarea class="form-control" rows="6" value=model.comments }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10">
          <a type="reset" class="btn btn-default col-md-offset-2" href="/app/hospitals" role="button"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
          <button type="submit" class="btn btn-primary col-md-offset-8" {{action 'save' model}}><span class="glyphicon glyphicon-saved"></span>保存</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
