<div class="container">
  <h1>医院信息</h1>
  <hr />
  <div class="row text-right">
    <a href="/app/hospitals/edit" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-edit"></span>编辑</a>
  </div>
  <div class="row">
    <div class="well">
      医院编号：{{model.code}}
    </div>
    <div class="well">
      医院名称：{{model.hspname}}
    </div>
    <div class="well">
      备注：{{model.comments}}
    </div>
  </div>
</div>
