<div class="container">
  <h1>医院信息</h1>
  <hr />
  <div class="row text-right">
    <a href="/app/hospitals/edit" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-edit"></span>编辑</a>
  </div>
  <div class="row">
    <div class="well">
      医院编号：1234
    </div>
    <div class="well">
      医院名称：长江医学院
    </div>
    <div class="well">
      备注：医院设有普外科、骨外科、心血管内科、中医针灸、痔漏、口腔、呼吸内分泌内科、五官、皮肤、眼科、耳鼻咽喉科、妇产科等临床科室和急诊室。另有放射科、心电图室、彩色超声波室、胃镜室、检验科、B超室等辅助科室。
    </div>
  </div>
</div>
