<div class="container">
  <h1>患者基本信息</h1>
  <hr />
  <div class="well">
    <form class="form-inline">
      {{#inline-form-field field=model.patName}}姓名{{/inline-form-field}}
      {{#inline-form-field field=model.idCardNo}}身份证号{{/inline-form-field}}
      {{#inline-form-field field=model.insuranceCode}}医保号{{/inline-form-field}}

      {{#inline-form-field field=model.address}}地址{{/inline-form-field}}
      {{#inline-form-field field=model.zipcode}}邮编{{/inline-form-field}}
      {{#inline-form-field field=model.phoneNo}}电话号码{{/inline-form-field}}
      {{#inline-form-field field=model.mobileNo}}手机号码{{/inline-form-field}}
      {{#inline-form-field field=model.email}}邮箱{{/inline-form-field}}

      {{#inline-form-field}}国籍{{/inline-form-field}}
      {{#inline-form-field}}省{{/inline-form-field}}
      {{#inline-form-field}}市{{/inline-form-field}}
      {{#inline-form-field}}县/区{{/inline-form-field}}
      {{#inline-form-field}}镇{{/inline-form-field}}
      <div class="form-group">
        <lable>性别</lable>
        <select class="form-control input-sm">
          <option>男</option>
          <option>女</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">出生日期</label>
        {{date-picker date=model.birthday valueFormat='YYYY-MM-DD' class="form-control input-sm"}}
      </div>
      {{#inline-form-field}}人种{{/inline-form-field}}
      {{#inline-form-field}}血型{{/inline-form-field}}
      <div class="form-group">
        <lable>民族</lable>
        <select class="form-control input-sm">
          {{#each nations as |nation|}}
            <option>{{nation}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <lable>婚姻状况</lable>
        <select class="form-control input-sm">
          <option>已婚</option>
          <option>未婚</option>
        </select>
      </div>      
    </form>
  </div>
  <div class="well">
    <form class="form-horizontal">
      {{#form-field}}症状{{/form-field}}
      {{#form-field}}体征{{/form-field}}
      {{#form-field}}临床诊断{{/form-field}}
      {{#form-field}}相关检验结果{{/form-field}}
      {{#form-field}}备注{{/form-field}}
    </form>
  </div>
</div>