<div id="sessions-new">
  <div class="login-area">
    <div class="user-name text-center">
      <span class="glyphicon glyphicon-user"></span>
      <input type="text" placeholder="请输入用户名" />
      <hr />
    </div>
    <div class="password text-center">
      <span class="glyphicon glyphicon-eye-open"></span>
      <input type="text" placeholder="请输入密码" />
      <hr />
    </div>
    <div class="remenber-me">
      <input type="checkbox" />记住密码
    </div>
    <div class="login-button text-center">
      <button class="btn btn-primary" {{ action 'loginbutton' }}>登录</button>
    </div>
  </div>
</div>
